<h1><%= @topic.title %></h1>

<h2><%= @topic.text %></h2>

<h2>Comments</h2>
<% @topic.comments.each do |comment| %>
<p>AUTHOR:<%= comment.author %></p>
<p>COMMENT:<%= comment.body %></p>
<% end %>

<%= link_to "Post a new comment", new_comment_path %>

